@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <script src="https://gw.alipayobjects.com/os/antv/assets/g6/1.2.3/g6.min.js"></script>

</head>
<body>
    <div id="c2"></div>
    <div id="c4"></div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" language="javascript">
        window.onload = function () {

            var canvas = new G6.Canvas({
                containerId: 'c4',
                width: 10000,
                height: 10000,
                stroke: 'black'
            });

            //canvas.scale(0.5, 0.5);
            $.ajax({
                url: "AutoCad/GetData",
                type: "get",
                async: "false",
                success: function (data) {
                    //console.log(data[0].LineElements);

                    //线条
                    data[0].LineElements.forEach(function (currentValue, index, arr) {
                        canvas.addShape('line', {
                            attrs: {
                                x1: currentValue.X1,
                                y1: currentValue.Y1,
                                x2: currentValue.X2,
                                y2: currentValue.Y2,
                                stroke: currentValue.Color
                            }
                        });
                    });

                    //文本
                    data[0].TextElements.forEach(function (currentValue, index, arr) {
                        canvas.addShape('text', {
                            attrs: {
                                x: parseFloat(currentValue.Start.X),
                                y: parseFloat(currentValue.Start.Y),
                                fontFamily: currentValue.Fontfamily,
                                text: currentValue.Value,
                                fontSize: parseInt(currentValue.Size),
                                stroke: 'red'
                            }
                        });
                    });

                    //圆

                    data[0].CircleElements.forEach(function (currentValue, index, arr) {
                        canvas.addShape('Circle', {
                            attrs: {
                                x: currentValue.EPoint.X,
                                y: currentValue.EPoint.Y,
                                r: currentValue.Radius,
                                stroke: 'red'
                            }
                        });

                    });

                    //圆弧

                    data[0].PathElements.forEach(function (currentValue) {

                        console.log(currentValue.EndAngle);

                        canvas.addShape('arc', {
                            attrs: {
                                x: currentValue.StartPoint.X,
                                y: currentValue.StartPoint.Y,
                                r: currentValue.Radius,
                                startAngle: parseFloat(currentValue.StartAngle),//1/6 * Math.PI,
                                endAngle: parseFloat(currentValue.EndAngle),//5/4 * Math.PI,
                                stroke: 'red'
                                //arrow: true
                            }
                        });

                    });


                    //x: currentValue.Start.X,
                    //    y: currentValue.Start.Y,
                    //    fontFamily: currentValue.Fontfamily,
                    //    text: currentValue.Value,
                    //    fontSize: currentValue.Size,
                    //    stroke: currentValue.Color
                    canvas.draw();
                    //console.log(canvas);
                }
            });


        }
    </script>
</body>
</html>